@charset "utf-8";

html.lock {overflow:hidden;}

#content-wrapper {
    height:100%;
}
#example-wrapper {
    height:100%;
}
#example-wrapper section#titlechart #description:after {
	content: "↧";
	font-size: 40px;
    display: block;
    text-align:center;
    margin-top: 20px;
    color: #c0c0c0;
}
#example-wrapper section#titlechart .button-wrap {display:flex;margin:10px 0 30px;}
.button-wrap a {display:block;width:50%;padding:5px 10px;border:1px solid #ccc;border-radius:5px;color:#999;text-align:center;}
.button-wrap a.on {border:2px solid #888;color:#555;}
.button-wrap a + a {margin-left:10px;}

.scrollContent {
    height:100%;
    padding-top: 70px;
}
.scrollContent:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 70px;
    background: #31302e;
}
.scrollContent > section {
    width:100%;
    overflow: hidden;
}

#titlechart {
    position: fixed;
    left: 0;
    top: 0;
    width:100%;
    height:70px;
    background-color:rgba(0,0,0,0.7);
    z-index: 99;
}

#titlechart .tab {display:inline-block;width:100%;height:100%;}
#titlechart .tab:after {content:'';position:absolute;left:0;bottom:0px;display:block;width:100%;height:1px;background:#707070;}
#titlechart .tab .top {display:inline-block;width:100%;height:40px;padding:11px 20px 5px;border-bottom:1px solid #5e5e5e;}
#titlechart .tab .top .logo {display:inline-block;margin-top:1px;color:#fff;vertical-align:top;}
#titlechart .tab .top .logo >img {width:61px;}
#titlechart .tab .top .model {display:inline-block;margin-left:5px;font-size:12px;color:#fff;}
#titlechart .tab > ul {position:relative;display:inline-block;width:100%;z-index:1;}
#titlechart .tab > ul > li {float:left;width:20%;}
#titlechart .tab > ul > li > a {display:block;padding:6px 0 7px;font-size:11px;color:#fff;text-align:center;border-bottom:2px solid transparent;text-decoration:none;}
#titlechart .tab > ul > li.on > a {border-bottom:2px solid #990033;}


.title {
    position:absolute;
    left:25px;
    right:25px;
}
.title h2 {margin:0;padding:0;font-size:32px;font-weight:700;}
.title .small {margin-top:9px;font-size:15px;line-height:23px;}
.title .button {margin-top:15px;display:inline-block;padding:0 14px;font-size:14px;line-height:30px;height:30px;border:1px solid #666;border-radius:16px;box-sizing:content-box;}
.small.indent {text-indent:-9px;padding-left:9px;word-break:keep-all;}
.small.indent:before {content:'* ';}
.small.indent.wb-normal {word-break:normal;}

.eyebrow {
    position:absolute;
    left: 25px;
    font-size: 20px;
    color: #999;
}

.white {color:#fff;}
.grey, .gray {color:#888;}
.imageFitW > img {width:100%;height:auto;}

i.circ-arrow-down {display:inline-block;width:15px;height:16px;background:url("../img/ico_circArrow_down.png") center center no-repeat;background-size:contain;}

.bullet {font-size:12px;}
.bullet > li[data-bullet="*"] {padding-left:6px;text-indent:-6px;color:#999;}
.bullet > li[data-bullet="-"] {padding-left:6px;text-indent:-6px;color:#606060;}
.bullet > li:before {content:attr(data-bullet);}
.bullet > li em {display:inline-block;padding-left:6px;padding-bottom:3px;font-weight:700;font-style:normal;}

.talk {position:relative;overflow:hidden;}
.talk:before {content:"";position:absolute;top:0;left:16px;right:15px;height:45px;background-position:0 0;background-repeat:repeat-x;background-size:auto 100%;}
.talk span {position:relative;font-size:16px;line-height:35px;}
.talk span:before {content:"";display:block;float:left;width:16px;height:45px;background-position:0 0;background-repeat:no-repeat;background-size:auto 100%;}
.talk span:after {content:"";display:block;float:right;width:15px;height:45px;background-position:0 0;background-repeat:no-repeat;background-size:auto 100%;}

.talk.dark:before {background-image:url("../img/talk_dark02.png");}
.talk.dark span {color:#999;}
.talk.dark span:before {background-image:url("../img/talk_dark01.png");}
.talk.dark span:after {background-image:url("../img/talk_dark03.png");}

.talk.med:before {background-image:url("../img/talk_med02.png");}
.talk.med span {color:#606060;}
.talk.med span:before {background-image:url("../img/talk_med01.png");}
.talk.med span:after {background-image:url("../img/talk_med03.png");}

.talk.light:before {background-image:url("../img/talk_light02.png");}
.talk.light span {color:#606060;}
.talk.light span:before {background-image:url("../img/talk_light01.png");}
.talk.light span:after {background-image:url("../img/talk_light03.png");}

/* Swiper */
.swiper-wrapper {position:relative;width:100%;height:100%;z-index:1;display:flex;transition-property: transform;box-sizing: content-box;}
.swiper-slide {flex-shrink:0;width:100%;height:100%;position:relative;transition-property:transform;}
.swiper-page-wrap {position:relative;top:-65px;z-index:1;}
.swiper-pagination {text-align:center;/*overflow:hidden;*/}
.swiper-pagination-bullet {display:inline-block;margin:0 6px;width:10px;height:10px;background-color:#565656;border-radius:50%;}
.swiper-pagination-bullet-active {background-color:#e42f66 !important;}

/* twentytwenty */
.twentytwenty-wrapper.twentytwenty-horizontal .twentytwenty-handle {margin-top:15px;margin-left:-15px;top:74.5%;width:31px;height:31px;border:0;background-color:#e1e2e4;box-shadow:none;}
.twentytwenty-wrapper.twentytwenty-horizontal .twentytwenty-handle:before,
.twentytwenty-wrapper.twentytwenty-horizontal .twentytwenty-handle:after {margin-top:0;margin-bottom:0;width:1px;margin-left:0;background-color:#e1e2e4;}
.twentytwenty-wrapper.twentytwenty-horizontal .twentytwenty-left-arrow,
.twentytwenty-wrapper.twentytwenty-horizontal .twentytwenty-right-arrow {margin-top:-4px;border:5px inset transparent;}
.twentytwenty-wrapper.twentytwenty-horizontal .twentytwenty-left-arrow {margin-left:-14px;border-right:5px solid #000;}
.twentytwenty-wrapper.twentytwenty-horizontal .twentytwenty-right-arrow {margin-right:-14px;border-left:5px solid #000}
.twentytwenty-overlay:hover {display: none;}

/* ios video border */
video {
    -webkit-mask-image: -webkit-radial-gradient(white, black);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
}
#animate1 {background:#31302e;}
#animate1_1 {z-index:2;}
#animate1_2 {position:absolute;width:100%;top:172px;z-index:1;}
#animate1_2 > li {position:absolute;right:25px;}
#animate1_2 > li a {display:block;}
#animate1_2 > li .sub {font-size:26px;font-weight:900;color:#fff;}
#animate1_2 > li .sub em {margin-left:4px;font-size:17px;font-weight:700;font-style:normal;}
#animate1_2 > li .sub i {margin-top:1px;margin-left:5px;vertical-align: middle;}
#animate1_2 > li .desc {font-size:16px;color:#b0b0b0;}
#animate1_3 {position:relative;overflow: hidden;z-index:0;}
#animate1_3 img {display:block;max-width:100%;}

#animate2 {height:820px;overflow:hidden;color:#fff;background:#181715;}
#animate2 .eyebrow {z-index:1;}
#animate2_1 {z-index:1;}
#animate2_1 .small {color:#999;}
#animate2_2 {position:absolute;/*left:50%;top:-45px;*/}
#animate2_2 > img {position:absolute;left:-700px;top:0;}
#animate2_2_info {position:absolute;}
#animate2_3 {position:absolute;left:25px;right:25px;/*top:600px;*/}

#animate13 {}
#animate13 .blank {padding-top:330px;padding-bottom:83.5%;}
#animate13 .image {position:absolute;left:0;width:100%;overflow:hidden;}
#animate13 .image img {display:block;width:100%;}

#animate5 {}
#animate5 .blank {padding-top:332px;padding-bottom:75%;}
#animate5 .video {position:absolute;left:0;width:100%;padding-bottom:75%;}
#animate5 .video video {position:absolute;top:0;left:0;width:100%;height:100%;}
#animate5 .logo {position:absolute;left:25px;}
#animate5 .logo img {display:block;width:80px;}
#animate5 .desc {margin-top:16px;padding:0 25px;}
#animate5 .desc li + li {margin-top:4px;}

#animate6 {}
#animate6 img {width:100%;}
#animate6 .blank {padding-top:280px;padding-bottom:89%;}
#animate6 .divider {position:absolute;left:0;width:100%;}
#animate6 .divider .image {position:absolute;top:0;left:0;width:100%;overflow:hidden;}
#animate6 .divider .image > img {display:block;width:100vw;}
#animate6 .divider .drag {position:absolute;top:0;right:0;height:100%;}
#animate6 .divider .drag img {height:100%;transform:translateX(-50%);}
#animate6 .desc {margin-top:20px;padding:0 25px;}

#animate3 {}
#animate3_1 {z-index:1;}
#animate3 .blank {padding-top:288px;padding-bottom:134.8%;}
#animate3 .video {position:absolute;left:0;width:100%;padding-bottom:134.8%;}
#animate3 .video video {position:absolute;top:0;left:0;width:100%;height:100%;}

#animate9 {}
#animate9 .blank {padding-bottom:146%;}
#animate9 .slide {position:absolute;left:0;width:100%;}
#animate9 .slide .image {position:relative;}
#animate9 .slide .image li {position:relative;display:inline-block;float:left;}
#animate9 .slide .image li:before {content:"";display:block;width:100vw;padding-bottom:146%;}
#animate9 .slide .image .video {position:absolute;top:20px;bottom:20px;left:20px;right:20px;z-index:0;}
#animate9 .slide .txt {position:absolute;top:62px;left:54px;z-index:1;}
#animate9 .slide .txt strong {font-size:24px;color:#fff;}
#animate9 .slide .txt strong span {margin-left:8px;font-size:17px;opacity:0.5;font-weight:400;}
#animate9 .slide .txt p {margin-top:12px;font-size:12px;line-height:17px;color:#999;}
#animate9 .desc {padding:0 25px;}

#animate4 {}
#animate4_1 {z-index:1;}
#animate4 .blank {padding-top:226px;padding-bottom:91.8%;}
#animate4 .video {position:absolute;left:0;width:100%;padding-bottom:91.8%;}
#animate4 .video video {position:absolute;top:0;left:0;width:100%;height:100%;}

#animate10 {}
#animate10 .blank {padding-top:226px;padding-bottom:83.5%;}
#animate10 .video {position:absolute;left:0;width:100%;padding-bottom:83.5%;}
#animate10 .video video {position:absolute;top:0;left:0;width:100%;height:100%;}

#animate18 {}
#animate18 .blank {padding-top:212px;padding-bottom:94.5%;}
#animate18 .image {position:absolute;left:0;}
#animate18 .image img {display:block;width:100%;}
#animate18 .desc {margin-top:16px;padding:0 25px;}

#animate11 {}
#animate11 .blank {padding-top:280px;padding-bottom:100%;}
#animate11 .video {position:absolute;left:0;width:100%;padding-bottom:100%;}
#animate11 .video video {position:absolute;top:0;left:0;width:100%;height:100%;}
#animate11 .desc img {display:block;width:100vw;}
#animate11 .desc .bullet {margin-top:-2px;padding:0 25px;}

#animate12 {}
#animate12 .blank {padding-top:127px;padding-bottom:83.4%;}
#animate12 .image {position:absolute;left:0;border-top:1px solid #dad9d7;border-bottom:1px solid #dad9d7;}
#animate12 .image img {display:block;width:100%;}
#animate12 .desc {padding:0 25px;}
#animate12 .number {margin-top:10px;}
#animate12 .number li {margin-top:18px;margin-right:20px;display:inline-block;}
#animate12 .number .num {display:inline-block;width:17px;height:17px;font-size:12px;line-height:15px;text-align:center;color:#fff;background:#a0a0a0;border-radius:50%;}
#animate12 .number .name {font-size:14px;color:#666;}
#animate12 .number .name em {font-size:12px;font-style:normal;}

#animate8 {}
#animate8 .blank {padding-top:236px;padding-bottom:83%;}
#animate8 .video {position:absolute;width:100%;padding-bottom:83%;overflow:hidden;}
#animate8 .video video {position:absolute;top:0;left:0;width:100%;height:100%;}
#animate8 .desc {margin-top:17px;padding:0 25px;}


#animate7 {}
#animate7 .blank {padding-top:236px;padding-bottom:100%;}
#animate7 .divider {position:absolute;left:0;width:100%;padding-bottom:100%;}
#animate7 .divider .image {position:absolute;top:0;left:0;width:100%;overflow:hidden;}
#animate7 .divider .image > img {display:block;width:100vw;}
#animate7 .divider .drag {position:absolute;top:0;right:0;height:100%;}
#animate7 .divider .drag img {height:100%;transform:translateX(-50%);}

#animate14 {margin-top:30px;background:#ececec;}
#animate14 .blank {padding-top:266px;padding-bottom:101.5%;}
#animate14 .title .small {color:#999;}
#animate14 .bullet {margin-top:3px;}
#animate14 .image {position:absolute;left:0;}
#animate14 .image img {display:block;width:100%;}
#animate14 .desc {position:absolute;left:0;top:200px;width:100%;padding:0 20px;font-size:12px;}
#animate14 .effect {margin-top:5px;overflow:hidden;}
#animate14 .effect li {float:left;width:50%;}
#animate14 .effect .name {display:block;font-size:12px;color:#606060;}
#animate14 .effect .num {font-size:32px;line-height:32px;font-weight:600;color:#222;}
#animate14 .effect .num em {font-size:17px;font-style:normal;}
#animate14 .effect .num:after {content:"";margin-left:5px;display:inline-block;width:14px;height:19px;background:url("../img/ico_arrow_up.png") 0 0 no-repeat;background-size:100% auto;}

#scene15A {top:-18px;}
#scene15A:after {content:"";position:absolute;top:18px;left:0;width:100%;bottom:0;background:#ececec;z-index:-1;}
#animate15A .blank {padding-top:304px;padding-bottom:40px;}
#animate15A .quote {position:absolute;left:14px;right:14px;padding:44px 42px 29px 42px;background:#fff;border-radius:25px;box-shadow:0px 2px 4px 2px rgba(0, 0, 0, 0.08);}
#animate15A .quote:before {content:"“";position:absolute;top:8px;left:18px;font-size:70px;font-weight:600;color:#f2f2f2;z-index:0;}
#animate15A .quote:after {content:"”";position:absolute;bottom:36px;right:20px;font-size:70px;font-weight:600;color:#f2f2f2;z-index:0;}
#animate15A .quote .message {position:relative;font-size:23px;line-height:32px;color:#999;font-weight:600;z-index:1;}
#animate15A .quote .message strong {color:#222;}
#animate15A .quote .source {display:block;margin-top:34px;padding-left:5px;font-size:14px;line-height:18px;color:#888;}
#animate15A .quote .talker {padding-left:5px;font-size:12px;color:#888;}

#animate15 {}
#animate15 .blank {height:50px;padding-top:63.2%;padding-bottom:662px;box-sizing:content-box;}
#animate15 .icons {position:absolute;left:0;}
#animate15 .icons img {display:block;width:100%;}
#animate15 .performance {position:absolute;margin-bottom:75px;left:0;width:100%;}
#animate15 .performance {padding:0 30px;}
#animate15 .performance li {position:relative;padding:30px 0;}
#animate15 .performance li:after {content:"";display:block;clear:both;}
#animate15 .performance li + li {border-top:1px solid #303030;}
#animate15 .performance .txt {position:relative;font-size:20px;color:#fff;}
#animate15 .performance .image {position:relative;}
#animate15 .performance .image img {display:block;width:100%;}
#animate15 .performance .type1 .txt {float:left;width:calc(100% - 75px);padding-top:4px;}
#animate15 .performance .type1 .image {float:right;width:75px;}
#animate15 .performance .type2 .txt {width:100%;}
#animate15 .performance .type2 .image {margin-top:12px;width:300px;}
#animate15 .desc {position:absolute;left:0;width:100%;padding:0 20px;font-size:12px;}
#animate15 .desc p + p {margin-top:3px;padding-left:8px;text-indent:-8px;}
#animate15_1 .desc {width:100%;padding:0 20px;margin-top:20px;font-size:12px;}
#animate15_1 .desc p + p {margin-top:3px;padding-left:8px;text-indent:-8px;}

#animate15B {background-color:#000;}
#animate15B .blank {height:587px;padding-top:50px;box-sizing:content-box;}
#animate15B .performance {position:absolute;left:0;width:100%;}
#animate15B .performance {padding:0 30px;}
#animate15B .performance li {position:relative;padding:30px 0;}
#animate15B .performance li:after {content:"";display:block;clear:both;}
#animate15B .performance li + li {border-top:1px solid #303030;}
#animate15B .performance .txt {position:relative;font-size:20px;color:#fff;}
#animate15B .performance .image {position:relative;}
#animate15B .performance .image img {display:block;width:100%;}
#animate15B .performance .type1 .txt {float:left;width:calc(100% - 75px);padding-top:4px;}
#animate15B .performance .type1 .image {float:right;width:75px;}
#animate15B .performance .type2 .txt {width:100%;}
#animate15B .performance .type2 .image {margin-top:12px;width:300px;}

#animate15C {background-color:#000;}
#animate15C .blank {height:76px;}
#animate15C .desc {position:absolute;left:0;width:100%;padding:0 20px;font-size:12px;}
#animate15C .desc p + p {margin-top:3px;padding-left:8px;text-indent:-8px;}

#animate16 {}
#animate16 .blank {padding-top:60px;padding-bottom:64%;}
#animate16 .image {position:absolute;left:0;}
#animate16 .image img {display:block;width:100%;}
#animate16 .popupBtn {position:absolute;top:43%;left:41%;width:18%;height:27%;}

#animate17 {background-image: linear-gradient(#343434 30%, #343434 31%, #252425 50%);}
#animate17 .blank {padding-top:214px;padding-bottom:calc(100% + 30px);}
#animate17 .video {position:absolute;left:0;width:100%;padding-bottom:100%;}
#animate17 .video video {position:absolute;top:0;left:0;width:100%;height:100%;}
#animate17 .title {color:#fff;}
#animate17 .desc {position:absolute;left:25px;bottom:36px;width:calc(100% - 50px);}

.popup.open {display:block;}
.popup {display:none;position:fixed;top:0;left:0;width:100%;height:100%;z-index:100;}
.popup .dim {position:fixed;top:0;left:0;width:100%;height:100%;background-color:rgba(0,0,0,0.5);z-index:0;}
.popup .inner {position:absolute;top:50%;left:50%;width:calc(100% - 50px);transform:translate(-50%, -50%);background-color:#fff;border-radius:3%;overflow:hidden;z-index:1;}
.popup .close {position:absolute;top:0;right:0;padding:16px;}
.popup .close img {width:16px;height:16px;}
.popup .image img {display:block;width:100%;}
.popup .content {padding:36px 26px 37px 26px;}
.popup .content .name {display:block;font-size:20px;color:#222;}
.popup .content p {font-size:12px;line-height:18px;color:#222;}

.popup#popup01 .content .name_sub {margin-top:3px;display:block;font-size:13px;color:#888;}
.popup#popup01 .content p {margin-top:15px;color:#222;}
.popup#popup01 .content p + p {margin-top:10px;}

.popup#popup02 .content p {margin-top:15px;color:#222;}
.popup#popup02 .content .bullet {margin-top:13px;}
.popup#popup02 .content .bullet li + li {margin-top:10px;}

.popup#popup03 .scroll {margin-top:13px;height:300px;font-size:12px;line-height:16px;overflow-y:auto;}
.popup#popup03 .scroll strong {display:block;color:#222;}
.popup#popup03 .scroll * + strong {margin-top:16px;}
.popup#popup03 .scroll div {color:#606060;}
.popup#popup03 .scroll .bullet li {margin-top:4px;}

.popup#popup04 {}
.popup#popup04 .close {padding:10px;}
.popup#popup04 .close img {width:30px;height:30px;}
.popup#popup04 .inner {top:0;left:0;width:100%;height:100%;background:#000;transform:none;border-radius:0;}
.popup#popup04 .content {padding:0;}
.popup#popup04 .youtube {position:absolute;top:50%;left:0;width:100%;padding-bottom:56.8%;transform:translateY(-50%);}
.popup#popup04 .youtube iframe {position:absolute;top:0;left:0;right:0;bottom:0;width:100%;height:100%;}

.move-top {
    opacity: 0;
    -webkit-transition: opacity .4s ease;
    -moz-transition: opacity .4s ease;
    transition: opacity .4s ease;
}
.move-top.show {opacity:1}
.move-top > a {position:fixed;z-index:99;right:15px;bottom:50px;display:block;width:40px;height:40px;font-size:0;background:url("../img/btn_top.png") no-repeat;background-size:contain;}